<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Academia</h1>
    <a href="{{ url_for('cadastrar') }}"><button>Cadastrar Aluno</button></a>
    <a href="{{ url_for('listar') }}"><button>Listar Alunos</button></a>
</body>
</html>